.background {
  position: fixed;  
  display: flex;
  flex-direction: column;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.bg-image {
  width: 100%;
  height: 30%;
}

.bg-image .image {
  width: 100%;
  height: 100%;
}

.bg-dark {
  flex: 1;
  background-color: hsl(235, 21%, 11%)
}

.bg-light {
  flex: 1;
  background-color: hsl(0, 0%, 98%)
}